<!DOCTYPE html>
<html>
<head>
    <title>Cashbook - Liabilities | Nha khoa GTGT | Cloud Dental ERP v1.0.3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../ERP/static/css/style.css">
</head>
<body>
    <header>
        <!--- First menu -->
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-white" style="max-height: 50px;">
                <a class="navbar-brand" href="#" style="color: #2196f3">Nha khoa GTGT <sup>CN Phạm Văn Hai</sup></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu"   aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarmenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="omni-channel.html">Omni-Channel <sup>TM</sup></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calendar.html">Calendar</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="cashbook.html">Cash Book</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="inventory.html">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="inventory.html">Human Resource</a>
                        </li>
                    -->
                    </ul>
                    <ul class="navbar-text">
                        <li class="nav-item">
                            <a href="">
                            <img src="images/messenger_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/ring_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/user_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--- Second menu -->
        <div class="container-fluid" id="second_menu">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-rec.html">Receivables (phải thu)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="cashbook-lia.html">Liabilities (phải trả)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-rep.html">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-acm.html">Account management</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--- Main body -->
    <div class="container" style="margin-top: 10px; margin-bottom: 0px;">
        <div class="alert alert-warning alert-dismissable fade show" style="margin-bottom: 0px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Chỉ dẫn: </strong>Lưu giữ chứng từ hoá đơn cẩn thận, nhớ tải lên hình ảnh chứng từ để tra cứu nhanh hơn khi cần
        </div>
    </div>
    <div class="container" id="cashbook-rec-content">
        <div class="container">
            <div class="row" id="cashbook-rec-content-header">
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div style=" padding-top: 8px; padding-right: 10px;">
                        <b>Total expenses:</b><span>&nbsp;250,000 <sup>vnđ</sup></span>
                    </div>
                        <a class="btn btn-primary float-right" href="#" data-toggle="modal" data-target="#cashbook-lia-modal-new">+ New</a>
                </div>
                <div class="row col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top: 10px; padding-right: 0px;">
                            <b>Filter by:</b>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <select class="form-control custom-select">
                                <option>Today (default)</option>
                                <option>This week</option>
                                <option>This month</option>
                                <option>Previous 3 months</option>
                                <option>Previous 6 months</option>
                                <option>Previous 1 year</option>
                                <option>All times</option>
                            </select>
                        </div>
                </div>
            </div>
            <div class="row" id="cashbook-rec-content-detail">
                <table class="table table-responsive-md table-striped table-hover" style="border-bottom: 1px solid #dfdfdf">
                    <thead>
                       <tr>
                            <th style="padding-left: 8px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Payment vch #</th>
                            <th style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Amount</th>
                            <th style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Record date/time</th>
                            <th style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Attached invoice</th>
                            <th style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Pay for</th>
                            <th style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Deductible account</th>
                            <th style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Created by</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="padding-left: 8px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">PV-00001</td>
                            <td style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">50,000 <sup>vnđ</sup></td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">08/11/2017 11:45</td>
                            <td style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">PE01737668</td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Điện lực TPHCM</td>
                            <td style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Quỹ tiền mặt</td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Xuân tiểu thơ</td>
                            <td><a class="btn btn-primary" href="" style="width: 70px;" data-toggle="modal" data-target="#cashbook-lia-modal-edit" >Edit</a></td>
                        </tr>
                        <tr>
                            <td style="padding-left: 8px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">PV-00002</td>
                            <td style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">200,000 <sup>vnđ</sup></td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">08/11/2017 11:45</td>
                            <td style="padding-left: 0px; min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Hoá đơn bán lẻ</td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Lab Ngọc Lan</td>
                            <td style="padding-left: 0px; min-width: min-width: 60px; max-width: 70px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">ACB</td>
                            <td style="padding-left: 0px; min-width: 80px; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">Hoài An</td>
                            <td><a class="btn btn-primary" href="" style="width: 70px;">Edit</a></td>
                        </tr>
                    </tbody>
                </table><br/>
                <p>Lưu ý: Chỉ quản lý (acc-manager) của account mới được sử dụng payment account của mình để chi.</p>
            </div>
        </div>
        <div class="container">
            <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="alert alert-info alert-dismissable" style="margin-bottom: 0px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Next update: v1.0.4: </strong>(1) Cho phép đính kèm (tải lên) file hình của hoá đơn (2) Cho phép chỉnh sửa hoá đơn khi sai sót (permited)<br/>
            <strong>Next update: v1.0.5: </strong>(1) Cho phép nhận & lưu trữ hoá đơn điện tử vào drive "Payment invoices"
        </div>
    </div>
    <footer id="main-footer">
        <a>Cloud Dental CRM v.1.0.3 (alpha 1) © 2017.</a>
    </footer>
    <!-- Cashbook modal new -->
    <div class="modal" id="cashbook-lia-modal-new">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Create new <strong style="color: tomato;">payment voucher</strong></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body" id="cashbook-lia-modal-new-body">
                    <div class="row container-fluid">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-lc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>Payment voucher info</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                    <input type="text" class="form-control" style="" placeholder="PV-00001 (auto)" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                    <input type="text" class="form-control" placeholder="Amount *                                                      (vnđ)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
                                    <select class="form-control custom-select">
                                        <option selected>Choose a name: *</option>
                                        <option value="1">Điện lực TPHCM</option>
                                        <option value="2">Lab Lan Anh</option>
                                        <option value="3">Lab Ngọc Lan</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="or type name *">
                                </div>
                                <a href="#" style="padding-left: 55px;"> Create new supplier</a>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                                    <select class="form-control custom-select" >
                                        <option selected>What is deduction account? *</option>
                                        <option value="1">Cash-00001 (Xuân tiểu thư)</option>
                                        <option value="2">Not permited</option>
                                        <option value="3">Chỉ được chuyển tiền từ TK mình qly (acc manager)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-rc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>All the relatived invoices / notes</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-code "></i></div>
                                    <input type="text" class="form-control" placeholder="Number of invoice *">
                                </div>
                            </div>
                            <div class="row" style="background-color: #ffffcc; border-left: 6px solid #ffeb3b; padding: 10px;">
                                <div class="form-group">
                                    <label for="custom-file">Upload attached Invoice *</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    <small id="fileHelp" class="form-text text-muted">Tải lên hoá đơn thanh toán bạn đã nhận được.@Jos Mày nghiên cứu xem syntax nào chỉ cho upload file PDF, JPG, PNG thôi để ko attach virus :D</small>
                                </div>
                            </div>
                            <div class="row" style="background-color: #ffffcc; border-left: 6px solid #ffeb3b; padding: 10px;">
                                <small id="fileHelp" class="form-text text-muted">Chỗ này quản lý các file đã upload lên (xoá, replace,...)</small>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="width: 90%">
                        <textarea class="form-control" placeholder="Write your note.."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Cashbook modal edit -->
    <div class="modal" id="cashbook-lia-modal-edit">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Edit <strong style="color: tomato;">payment voucher</strong></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body" id="cashbook-lia-modal-new-body">
                    <div class="row container-fluid">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-lc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>Payment voucher info</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                    <input type="text" class="form-control" style="" placeholder="PV-00001" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                    <input type="text" class="form-control" placeholder="50,000                                                      (vnđ)" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-address-card-o"></i></div>
                                    <select class="form-control custom-select" disabled>
                                        <option value="1">Điện lực TPHCM</option>
                                        <option value="2">Lab Lan Anh</option>
                                        <option value="3">Lab Ngọc Lan</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-credit-card"></i></div>
                                    <select class="form-control custom-select" disabled>
                                        <option value="1">Cash-00001 (Xuân tiểu thư)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-rc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>All the relatived invoices / notes</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-code"></i></div>
                                    <input type="text" class="form-control" placeholder="Number of invoice *">
                                </div>
                            </div>
                            <div class="row" style="background-color: #ffffcc; border-left: 6px solid #ffeb3b; padding: 10px;">
                                <div class="form-group">
                                    <label for="custom-file">Upload attached Invoice *</label>
                                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                                    <small id="fileHelp" class="form-text text-muted">Bạn chỉ được tải lên tối đa 5 chứng từ</small>
                                </div>
                            </div>
                            <div class="row" style="background-color: #ffffcc; border-left: 6px solid #ffeb3b; padding: 10px;">
                                <small id="fileHelp" class="form-text text-muted">Chỗ này quản lý các file đã upload lên (xoá, replace,...)</small>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="width: 90%">
                        <textarea class="form-control" placeholder="Write your note.."></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--- Main body end -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>