<!DOCTYPE html>
<html>
<head>
    <title>Cashbook - Report | Nha khoa GTGT | Cloud Dental ERP v1.0.3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../ERP/static/css/style.css">
</head>
<body>
    <header>
        <!--- First menu -->
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-white" style="max-height: 50px;">
                <a class="navbar-brand" href="#" style="color: #2196f3">Nha khoa GTGT <sup>CN Phạm Văn Hai</sup></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"   aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="omni-channel.html">Omni-Channel <sup>TM</sup></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calendar.html">Calendar</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="cashbook.html">Cash Book</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="inventory.html">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="inventory.html">HR</a>
                        </li>
                    -->
                    </ul>
                    <ul class="navbar-text">
                        <li class="nav-item">
                            <a href="">
                            <img src="images/messenger_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/ring_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/user_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--- Second menu -->
        <div class="container-fluid" id="second_menu">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-rec.html">Receivables (phải thu)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-lia.html">Liabilities (phải trả)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="cashbook-rep.html">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cashbook-acm.html">Account management</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--- Main body -->
    <div class="container" style="margin-top: 10px;">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Hướng dẫn: </strong> Chức năng này cho phép nhà quản trị xem báo cáo doanh thu / chi phí / công nợ / tiền mặt theo từng chi nhánh trong các khoảng thời gian đã chọn. Sau đó, tự động dựng biểu đồ để đánh giá hiệu quả kinh doanh. Đặc biệt là đưa ra các gợi ý quan trọng theo từng nhóm dịch vụ. Chức năng này hiệu quả khi quá trình kinh doanh kéo dài được một thời gian để có dữ liệu. Vì vậy, sẽ làm sau.
        </div>
    </div>
    <div class="container-fluid" id="cashbook-content">
        <div class="container">
        <div class="alert alert-info alert-dismissable" style="margin-bottom: 0px;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Next update: v1.0.4: </strong>(1) Xem báo cáo bằng biểu đồ<br/>
            <strong>Next update: v1.0.5: </strong>(1) Tự so sánh, phân tích & đưa ra gợi ý để giúp nhà quản trị ra quyết định tốt hơn
        </div>
    </div>
    </div><br/>
    <footer id="main-footer">
        <a>Cloud Dental CRM v.1.0.3 (alpha 1) @ 2017. All rights reserved.</a>
    </footer>
    <!--- Main body end -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>