<!DOCTYPE html>
<html>
<head>
    <title>Omni-channel - Patient | Nha khoa GTGT | Cloud Dental ERP v1.0.3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://use.fontawesome.com/8acd7bac45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../ERP/static/css/style.css">
</head>
<body>
    <header>
        <!--- First menu -->
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-white" style="max-height: 50px;">
                <a class="navbar-brand" href="#" style="color: #2196f3">Nha khoa GTGT <sup>CN Phạm Văn Hai</sup></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="omni-channel.html">Omni-Channel <sup>TM</sup></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="calendar.html">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cashbook-rec.html">Cash Book</a>
                        </li>
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Inventory</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Human Resource</a>
                        </li>
                    -->
                    </ul>
                    <ul class="navbar-text">
                        <li class="nav-item">
                            <a href="">
                            <img src="images/messenger_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/ring_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                            <img src="images/user_icon.png" style="height: 30px;" />
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!--- Second menu -->
        <div class="container-fluid" id="second_menu">
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dental Clinic</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Center</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Open Channel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Order Management</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!--- Main body -->
    <div class="container-fluid" id="patient-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="row">
                    <div class="row sidebar-header">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <img src="images/user_avatar.png" style="padding-top: 15px;">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 10px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis;">
                           <b style="margin-top: 15px;"> Mr. Tên em dài quá (26)</b><br/>
                           <p>Implant X</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <a href="abc.com">
                                <i class="fa fa-sign-in" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <nav class="nav flex-column sidebar-detail">
                        <a class="nav-link" href="omni-dental-patient-med.html" >
                           <i class="fa fa-heart" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Prehistory & Medical History <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-cli.html">
                           <i class="fa fa-certificate" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Clinical Examination <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-dia.html">
                           <i class="fa fa-line-chart" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Diagnosis<i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-tre.html">
                           <i class="fa fa-puzzle-piece" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;Treatment Plan & Enforcement <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link active" href="omni-dental-patient-inv.html">
                           <i class="fa fa-file" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Invoice <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-pre.html">
                           <i class="fa fa-medkit" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Prescription <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-doc.html">
                           <i class="fa fa-database" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Document & Data storage <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="nav-link" href="omni-dental-patient-app.html">
                            <i class="fa fa-calendar" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Appointment Schedule <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <!-- Để cân nhắc làm sau vì trùng với các tab khác
                        <a class="nav-link" href="#">
                           <i class="fa fa-info-circle" aria-hidden="true" style="float: left;"></i>&nbsp;&nbsp;&nbsp;Personal information <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a> -->
                    </nav>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9" style="border-left: 1px solid #dfdfdf;">
                <div class="row content-header">
                    <b style="white-space: nowrap; min-width: 50px; max-width: 300px; overflow: hidden; text-overflow: ellipsis; padding-left: 8px; padding-right: 20px;">Diagnosis (Chuẩn đoán)</b>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#omni-dental-patient-cli-modal-new">+ New</a>
                </div>
                <div class="row content-detail">
                    <div class="container-fluid" id="cashbook-content">
                        <div class="container">
                            <div class="alert alert-info alert-dismissable" style="margin-bottom: 0px; margin-top: 20px;">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Next update: v1.0.4: </strong>(1) Có 2 sơ đồ răng (trẻ em và trưởng thành) (2) Ký hiệu trực tiếp lên sơ đồ răng<br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Footer -->
    <footer id="main-footer">
        <a>Cloud Dental CRM v.1.0.3 (alpha 1) @ 2017. All rights reserved.</a>
    </footer>
    <!--- Patient Medical Modal New -->
    <div class="modal" id="omni-dental-patient-cli-modal-new">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><strong style="color: tomato;">Create new prehistory & medical history</strong></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body" id="cashbook-lia-modal-new-body">
                    <div class="row container-fluid">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-lc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>All the categories</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="The mouth" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description (brief, clear, number)"></textarea>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="The four climbs" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description (brief, clear, number)"></textarea>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="The head, face, neck" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description (brief, clear, number)"></textarea>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="The chest" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description (brief, clear, number)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!--- Patient Medical Modal Edit -->
    <div class="modal" id="omni-dental-patient-cli-modal-edit">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title"><strong style="color: tomato;">Edit prehistory & medical history</strong></h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body" id="cashbook-lia-modal-new-body">
                    <div class="row container-fluid">
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-lc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>The category</span>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-at"></i></div>
                                    <input type="text" class="form-control" placeholder="Dental" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group mb-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-info-circle"></i></div>
                                    <select class="form-control custom-select" >
                                    <option selected>The mouth</option>
                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <textarea class="form-control" placeholder="Description (brief, clear, number)"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6" id="cashbook-lia-modal-new-body-rc">
                            <div class="row" style="background-color: #d1ecf1; border-left: 6px solid #0c5460; padding: 10px; color: #0c5460">
                                <span>Update history</span>
                            </div>
                            <div class="row">
                                <span>Tên người tạo / update - Ngày update - Edit comment. Mày làm css đoạn này ở bản trước rồi, copy qua nhé</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>